body{
	font-family: sans-serif;
	font-size: 16pt;
	background-color: #1d1d1d;
	color: whitesmoke;
}
main{
	max-width: 900px;
	margin: auto;
}
footer{
	max-width: 900px;
	margin: auto;
}
form {
  background-color: #2d2d2d;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input[type="date"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    border: 1px solid #444;
    border-radius: 2px;
    background-color: #3d3d3d;
    color: whitesmoke;
    font-size: 12pt;
    font-family: sans-serif;
}
input[type="password"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 4px;
    border: 1px solid #444;
    border-radius: 2px;
    background-color: #3d3d3d;
    color: whitesmoke;
    font-size: 12pt;
    font-family: sans-serif;
}

input[type="date"]:focus {
    border-color: #666;
    outline: none;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 4px;
  margin-bottom: 4px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #3d3d3d;
  color: whitesmoke;
  font-size: 12pt;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border-color: #666;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 150px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16pt;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
